@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500|Trocchi);

.serif {
	font-family: 'Trocchi', serif;
}

.code {
	font-family: 'Source Code Pro', sans-serif;
}

html { height: 100%; }

body {
	background-color: white;
	margin: 0;
	padding: 0;
	height: 100%;
}

.row {
	height: 100%;
	.left {
		height: 100%;
		.serif;
		width: 30%;
		background-color: #F2B707;
		text-align: right;
		box-sizing: border-box;
		padding: 50px 20px;

		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
			color: white;
		}
		float: left;
	}

	.right {

		float: left;
		width: 70%;
		box-sizing: border-box;
		padding: 20px;
		.code;

		h1, h2, h3, h4, h5, h6 { font-weight: normal }

		div.container {

			margin-top: 50px;
			width: 50%;
			min-width: 300px;
			
			font-size: 12px;
			line-height: 18px;

		}

	}
}

.button {
	font-size: 14px;
	padding: 10px;
	color: black;
	text-decoration: none;
	background-color: #F2B707;
	border: none;
	.code;
	cursor: pointer;
}

.small {
	font-size: 12px;
}

.button:hover {
	color: white;
	box-shadow: 5px 5px 0px black;
}

.label {
	display: block;
}

input[type=text] {
	display: block;
	width: 100%;
	border: 2px solid #F2B707;
	.code;
	padding: 3px;
	margin-bottom: 10px;
}

.subs {
	text-decoration: underline;
}

.alert {
	background-color: pink;
	border: 3px solid red;
	padding: 30px;
	color: black;
}

code {
	padding: 3px;
	background-color: yellow;
}